.skills {
    padding: 30px;
  }
  
  .skills-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .skill {
    background: #f39c12;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  